{% extends "layout.html" %}
{% block body %}
<div class="form-group">


  <header>

    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url({{url_for('static', filename="gallery-upload/" + 'IMG_8526-1024x645.JPG')}});
        height: 400px;
      
    >
      <div class="mask" style="background-color: rgba(205, 39, 39, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3"></h1>
            <img src={{url_for('static', filename="gallery-upload/" + 'logo.png')}} alt=logo/>
            <h4 class="mb-3"></h4>
            <a class="btn btn-outline-light btn-lg btn-primary" href="{{ url_for('views.menu') }}" role="button"
            >Order Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>


  <table class="table table-striped table table-bordered" style="width:300px; ">
    <thead class="thead">
      <th>Day</th>
      <th>Hours</th>

    </thead>
    <tbody class="table table-striped">
      <tr>
        <td>Monday - Sunday</td>
        <td>11:00 AM - 3:00 PM 5:00 PM - 9:30 PM</td>
      </tr>
      
    </tbody>
  </table>

</div>
{% endblock %}