{% extends 'layout.html' %}

{% block body %}
<h3 align="center">Order Management  (Manager credential disabled)</h3>
<ul class="list-group list-group-flush" id="orders">

    {% if orders %}
    {% for order in orders %}

    <h3>Order #: {{order.id}}</h3>
    <div>
    <li>Reference ID: {{order.reference}}</li>
    <li>Order Status: {{order.status}}</li>
    <h4><u>Customer Info:</u></h4>
    <li>Name: {{order.first_name}} {{order.last_name}}
        Cell: {{order.phone_number}}
        Email: {{order.email}}
        Pickup Time: {{order.pick_up_time}}
        Payment Type: {{order.payment_type}}
    </li>
    <h4><u>Order Detail</u></h4>
        {% for o, od, m in q %}
        {% if o.id == order.id%}
        <li>{{m.item_name }}  *  {{od.qty}}</li>
        {% endif %}
        {% endfor %}
    </li>

    </div>

    <hr style="width:100%;margin-left:0;">
    {% endfor %}
    {% else %}
    <p>No orders to show</p>
    {% endif %}
</ul>


{% endblock %}

